
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50px;
}


.container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    background: none;
}

